@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");

body {
    font-family: "Source Sans Pro";
    background-image: url("assets/background.jpg");
    background-size: 100%;
    text-align: center;
    color: #ffffff;
}

img {
    height: 35rem;
    width: 35rem;
    margin-top: -5rem;
    margin-bottom: -8rem;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: -.5rem;
}

h1[role="finished"] {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

h2[role="finished"] {
    font-size: 3rem;
    margin-top: .5rem;
}

table {
    margin: auto;
}

td {
    padding-left: 2rem;
    padding-right: 2rem;
}

span[class=color] {
    color:#E46C28;
}

#timer {
    font-size: 12rem;
    font-weight: 900;
    margin-top: -2rem;
    margin-bottom: -1rem;
}

#timer span {
    position: relative;
}

#timer span:after {
    font-size: 1.5rem;
    position: absolute;
    bottom: 5%;
    left: 0%;
    right: 0%;
}

#days::after {
    content:"Days";
}

#hours::after {
    content:"Hours";
}

#minutes::after {
    content:"Minutes";
}

#seconds::after {
    content:"Seconds";
}